<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AliExplainerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Ali Explainer"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnimeApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.AnimeApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.detail.DetailActivity"
            android:theme="@style/Theme.AnimeApp"
            android:parentActivityName=".ui.home.HomeActivity" />

        <activity
            android:name=".ui.player.PlayerActivity"
            android:theme="@style/Theme.AnimeApp"
            android:configChanges="orientation|screenSize|keyboardHidden" />

    </application>
</manifest>
